.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Title {
  font-size: 2rem;
  margin: 3rem;
  color: whitesmoke;
  font-weight: normal;
} 

.Form {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 30rem !important;
}

.Submit-btn {
  margin: 2rem !important;
  width: 12rem;
}

.Button-1 {
  background-color: #7F4FC4		 !important;
  color: whitesmoke	 !important;
  border: 1px solid white !important;
  margin: 1rem !important;
}

.Button-group {
  margin: 2rem;
  color: black !important;
}

.Bot-response {
  margin-top: 5rem;
  width: 50%;
  color: whitesmoke;
  padding: 2rem;
  border: 1px solid white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
