.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Title {
  font-size: 2rem;
  color: whitesmoke;
  font-weight: normal;
}

.Form {
  margin-bottom: 3rem !important;
  background-color: whitesmoke;
  width: 40vw;
}

.Submit-btn {
  margin-right: 3rem !important;
  width: 10rem;
}

.Bot-response {
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 50%;
  color: whitesmoke;
  padding: 2rem;
  border: 1px solid white;
}